# Ignore the entire data directories
/data/
/Fitted/
/StableFrame/

# Ignore temporary Python files
*.pyc
*.pyo
__pycache__/

# Ignore virtual environments
/venv/
/env/
/.venv/
/.env/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore output files
/output/

